.user-container {
  width: 100%;
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-container .content-wrapper {
  overflow: visible;
  justify-content: flex-start;
}

.user-container.user-step-1 .title-wrapper,
.user-container.user-step-2 .title-wrapper,
.user-container.user-step-3 .title-wrapper {
  text-align: center;
  gap: 12px;
}



.options-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  min-height: 220px;
  align-content: flex-start;
  justify-content: center;
}

@media (max-width: 440px) {
  .options-grid {
    padding: 0;
  }
}


.pill {
  font-family: 'SF Pro Display', sans-serif;
  height: 52px;
  padding: 0 16px;
  background: #FFFFFF;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #28194B;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  transition: all 0.2s ease;
}

.pill:hover {
  opacity: 0.8 !important;
}


.user-container.user-step-1 .pill:hover,
.user-container.user-step-2 .pill:hover,
.user-container.user-step-3 .pill:hover {
  opacity: 1 !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08) !important;
}


.user-container.user-step-1 .pill:active,
.user-container.user-step-2 .pill:active,
.user-container.user-step-3 .pill:active {
  transform: scale(0.98) !important;
  opacity: 1 !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08) !important;
}


.pill:active {
  transform: scale(0.98) !important;
}

.pill-primary {
  background: #4D368A;
  color: #FFFFFF;
}





@media (max-width: 768px) {
  .user-container {
    max-width: var(--mobile-max-width);
    overflow: hidden;
  }
}



